
:root {
    --bg-color:#ece7dd;
    --bg-color2: #daba88;
    --primary-color: #2e2927;
    --secondary-color: #6b625d;
    --tertiary-color: #b87367;
    --quaternary-color: #421d24;
    --quinary-color: #6F4526;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

h1{
    color: var(--quaternary-color);
}

h2, h4, h5, h6 {
    color: var(--quaternary-color);
    font-weight: bolder;
}

h3 {
    color: var(--quaternary-color);
    font-weight: 400;
}

p {
    color: var(--quinary-color);
    font-weight: 400;
}

.phero1 {
    color: var(--quaternary-color); 
    font-size: 19px;
    font-weight: bolder;
}

.phero2 {
    color: #001c58;
    font-size: 16px;
}

.logo {
    width: auto;
    height: 50px;
}

.navcolor {
    color: var(--quaternary-color);
    font-size: 15px;
    font-weight: 500;
}

.navbgcolor {
    background-color: var(--bg-color2);
}

.navbar {
    background-color: #ffffff;
    padding: 10px 0;
}
