
:root {
    --bg-color:#f3f2ef;
    --bg-color2: #f3f2ef;
    --quaternary-color: #000000;
    --font-title1: "Times New Roman", sans-serif;
    --font-body: sans-serif;
    --card-bg: #e2d8ce;
}

body, .navbar, button, a {
    font-family: var(--font-body);
}


body {
    background-color: var(--bg-color);
    color: var(--quaternary-color);
}


h1{
    font-family: var(--font-title1);
} 


h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    color: var(--quaternary-color);
}

p {
    color: var(--quaternary-color);
    font-weight: 400;
}

.categoria a {
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--card-bg);
}

.categoria li:nth-child(1) a {
    --card-bg: #f8d7da;
}

.categoria li:nth-child(2) a {
    --card-bg: #d1ecf1;
}

.categoria li:nth-child(3) a {
    --card-bg: #d4edda;
}

.categoria li:nth-child(4) a {
    --card-bg: #fff3cd;
}

.phero1 {
    color: var(--quaternary-color); 
    font-size: 19px;
    font-weight: bolder;
}

.phero2 {
    color: #001c58;
    font-size: 16px;
}

.logo {
    width: auto;
    height: 50px;
}

.navcolor {
    color: var(--quaternary-color);
    font-size: 15px;
    font-weight: 500;
}

.navbgcolor {
    background-color: var(--bg-color2);
}